#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-box {
    text-align: center;
    height: 50px;
    margin-top: 100px;
}

#gameboard-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    margin-top: 50px;
}

.square {
    font: 100px bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid 1px;
    background-color: white;
}

#reset-btn {
    margin: 10px;
    width: 100px;
}

#name-input {
    text-align: center;
    margin: auto;
}